*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0084a8;
    font-family: Arial, Helvetica, sans-serif ;
}
.loginform{
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 15px;
    padding: 15px;
}
h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
label{
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;

}
input{
    width: 250px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;

    
}
button{
    width: 250px;
    padding: 5px;
    font-weight: bold;
    background-color: #007498;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px
    

}
p{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
button:hover{
    background-color: #004054;
}